* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: 'Muli', sans-serif;
}

.clear {
	clear: both;
}

.container {
	width: 1150px;
	margin: 0 auto;
}

.mb-60 {
	margin-bottom: 60px;
}

.mt-50 {
	margin-top: 50px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-150 {
	padding-bottom: 150px;
}

/*           INDEX.HTML            */

header {
	width: 100%;
	height: 100vh;
	background: #000 url("../img/site-hero.jpg") no-repeat center center fixed;
	background-size: cover;

}

.header-top {
	width: 100%;
	padding-top: 35px;
}

.logo {
	float: left;
}

.logo a {
	text-decoration: none;
}

.logo a img {
	width: 30px;
	height: 30px;
}

.menu {
	float: right;
	padding-right: 5px;
}

.nav {
	float: left;
}

.nav ul{
	list-style: none;
}

.nav ul li {
	display: inline-block;
}

.nav ul li a {
	text-decoration: none;
	color: #f1f1f1;
	font-size: 11px;
}

.header-bottom {
	width: 100%;
	position: relative;
}

.header-content {
	margin: 0 auto;
	width: 700px;
	position: absolute;
	top: 250px;
	left: 250px;
}

.heading {
	width: 650px;
	margin: 0 auto;
}

.heading h1 {
	color: #fff;
	font-size: 50px;
	letter-spacing: 10px;
	padding-bottom: 35px;
}

.header-content p {
	color: #f1f1f1;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}

.intro {
	width: 100%;
	background: #111;
}

.left-box {
	font-family: 'Playfair Display', serif;
	color: #fff;
	font-style: italic;
	font-size: 18px;
	margin: 60px 0;
}

.right-box {
	color: #999;
	font-size: 16px;
	margin: 60px 0;
	line-height: 22px;
}

.content {
	width: 100%;
}

.top {
	margin-top: 20px;
}

.top-line {
	margin: 0 auto;
	width: 5px;
	height: 100px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.content-inner {
	width: 100%;
}

.content-text {
	margin: 0 auto;
	text-align: center;
}

.content-text h2 {
	font-size: 30px;
	font-weight: lighter;
	padding-bottom: 20px;
}

.content-text p {
	margin: 0 250px;
	color: #777;
	font-size: 16px;
	line-height: 25px;
}

.box i {
	font-size: 40px;
	padding-bottom: 25px;
	color: lightgray;
}

.box h2 {
	font-size: 20px;
	font-weight: lighter;
	padding-bottom: 15px;
}

.box p {
	color: #777;
	font-size: 16px;
	line-height: 22px;
}

.image {
	position: relative;
}

.image-box {
	width: 300px;
	height: 360px;
	border: 5px double #e5e5e5;
}

.image-box img {
	width: 100%;
	margin-top: 35px;
	margin-left: 50px;
}

.service {
	float: left;
	width: 66%;
}

.statistic {
	width: 100%;
	background: #000 url("../img/facts.jpg") no-repeat top center fixed;
	background-size: cover;
	padding: 100px 0;
}

.block span {
	font-size: 40px;
	color: #fff;
	padding-bottom: 10px;
	display: inline-block;
}

.h-line {
	height: 30px;
	border-left: 2px solid #777;
	margin-left: 5px;
} 

.block h6 {
	font-size: 20px;
	color: #fff;
	padding-top: 10px;
}

nav ul {
	list-style: none;
}

nav ul li {
	line-height: 40px;
	font-size: 16px;
}

nav ul li a {
	text-decoration: none;
	color: #999;
	padding-left: 20px;
}

nav ul li.active a {
	color: #fff;
	padding: 3px 10px;
	background-color: #000;
}

.newsletter {
	width: 100%;
	background-color: #111;
	padding: 80px 0;
}

.news-text h1 {
	color: #fff;
	font-weight: lighter;
	font-size: 30px;
	padding-bottom: 15px;
}

.news-text p {
	color: #777;
	font-size: 16px;
	line-height: 24px;
}

.news-input {
	margin-top: 40px;
}

.news-input form input {
	padding: 15px 340px 15px 10px;
	text-align: left;
	background-color: #111;
	border: 1px solid #fff;
}

.news-input form button {
	margin-top: 20px;
	padding: 10px 30px;
	background-color: #fff;
	border: none;
}

.news-input form button:hover {
	background-color: #777;
	color: #fff;
	cursor: pointer;
}

footer {
	width: 100%;
	text-align: center;
}

.footer-logo {
	margin: 0 auto;
	width: 80px;
}

.footer-logo a {
	text-decoration: none;
}

.footer-logo a img {
	padding-top: 50px;
}

.social-links {
	width: 240px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 60px;
}

.social-links ul {
	list-style: none;
}

.social-links ul li {
	display: inline-block;
}

.social-links ul li a {
	text-decoration: none;
	color: #000;
}

.social-links ul li a:hover {
	color: #999;
}

.icon {
	padding: 2px 10px;
}

.footer-text, .footer-slogan, .footer-top {
	width: 100%;
}

.footer-copy {
	padding-bottom: 15px;
}

.footer-copy a {
	color: #999;
	text-decoration: none;
}

.footer-copy a:hover {
	color: #000;
}

.footer-slogan {
	padding-bottom: 30px;
	color: #999;
	font-size: 16px;
}

.footer-top {
	padding-bottom: 30px;
}

.footer-top a {
	text-decoration: none;
	color: #999;
	font-size: 30px;
}

.footer-top a:hover {
	color: #000;
}

/*              ABOUT.HTML           */

.header {
	width: 100%;
	/*height: 100vh;*/
	background: #000 url("../img/site-hero2.jpg") no-repeat center center fixed;
	background-size: cover;
}

.header-bottom-bottom {
	width: 100%;
	padding-top: 150px;
	padding-bottom: 200px;
}

.header-bottom-content {
	margin: 0 auto;
	width: 700px;
}

.header-bottom-heading {
	width: 650px;
	margin: 0 auto;
}

.header-bottom-heading h1 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	font-weight: lighter;
	margin-bottom: 10px;
}

.header-bottom-content p {
	color: #f1f1f1;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	font-weight: normal;
}

.content-inner-text {
	margin: 0 auto;
	max-width: 900px;
}


.content-inner-text h2 {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 35px;
	font-weight: lighter;
	padding-bottom: 20px;
	text-align: center;
}

.benefit {
	text-align: center;
}

.white {
	color: #fff;
}

.newsletter-image {
	padding: 40px 0;
}

.image:hover {
	opacity: 0.2;
}