* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: 'Muli', sans-serif;
}

.clear {
	clear: both;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mt-50 {
	margin-top: 50px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-150 {
	padding-bottom: 150px;
}

/*           INDEX.HTML            */

header {
	width: 100%;
	height: 100vh;
	background: #000 url("../img/site-hero.jpg") no-repeat center center fixed;
	background-size: cover;

}

.header-top {
	width: 100%;
	padding-top: 35px;
}

.logo {
	float: left;
}

.logo a {
	text-decoration: none;
}

.logo a img {
	width: 30px;
	height: 30px;
}

.menu {
	float: right;
	padding-right: 5px;
}

.nav {
	float: left;
}

.nav ul {
	list-style: none;
	position: relative;
}

.nav ul li {
	display: inline-block;
	position: relative;
}

.nav ul li a {
	text-decoration: none;
	color: #f1f1f1;
	font-size: 11px;
}

.nav ul ul {
	display: none;
	position: absolute;
	top: 30px;
	left: 20px;
	background: #fff;
}

.nav ul ul li {
	
}

.nav ul ul li a {
	display: block;
	color: #000;
	padding: 0 15px;
	width: 200px;
}

.nav ul ul li:hover {
	background: #999;
}

.nav ul li:hover > ul {
	display: block;
}

.header-bottom {
	width: 100%;
	position: relative;
}

.header-content {
	margin: 0 auto;
	max-width: 700px;
	position: absolute;
	top: 250px;
	left: 250px;
}

.heading {
	max-width: 650px;
	margin: 0 auto;
}

.heading h1 {
	color: #fff;
	font-size: 50px;
	letter-spacing: 10px;
	padding-bottom: 35px;
}

.header-content p {
	color: #f1f1f1;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}

.intro {
	width: 100%;
	background: #111;
}

.left-box {
	font-family: 'Playfair Display', serif;
	color: #fff;
	font-style: italic;
	font-size: 18px;
	margin: 60px 0;
}

.right-box {
	color: #999;
	font-size: 16px;
	margin: 60px 0;
	line-height: 22px;
}

.content {
	width: 100%;
}

.top {
	margin-top: 20px;
}

.top-line {
	margin: 0 auto;
	width: 5px;
	height: 100px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.content-inner {
	width: 100%;
}

.content-text {
	margin: 0 auto;
	text-align: center;
}

.content-text h2 {
	font-size: 30px;
	font-weight: lighter;
	padding-bottom: 20px;
}

.content-text p {
	margin: 0 250px;
	color: #777;
	font-size: 16px;
	line-height: 25px;
}

.box i {
	font-size: 40px;
	padding-bottom: 25px;
	color: lightgray;
}

.box h2 {
	font-size: 20px;
	font-weight: lighter;
	padding-bottom: 15px;
}

.box p {
	color: #777;
	font-size: 16px;
	line-height: 22px;
}

.image {
	position: relative;
}

.image-box {
	max-width: 300px;
	height: 360px;
	border: 5px double #e5e5e5;
}

.image-box img {
	width: 100%;
	margin-top: 35px;
	margin-left: 50px; /* ovde ispraviti responsive */
}

.service {
	float: left;
	width: 66%;
}

.statistic {
	width: 100%;
	background: #000 url("../img/facts.jpg") no-repeat top center fixed;
	background-size: cover;
	padding: 100px 0;
}

.block span {
	font-size: 40px;
	color: #fff;
	padding-bottom: 10px;
	display: inline-block;
}

.h-line {
	height: 30px;
	border-left: 2px solid #777;
	margin-left: 5px;
} 

.block h6 {
	font-size: 20px;
	color: #fff;
	padding-top: 10px;
}

nav ul {
	list-style: none;
}

nav ul li {
	line-height: 40px;
	font-size: 16px;
}

nav ul li a {
	text-decoration: none;
	color: #999;
	padding-left: 20px;
}

nav ul li.active a {
	color: #fff;
	padding: 3px 10px;
	background-color: #000;
}

.newsletter {
	width: 100%;
	background-color: #111;
	padding: 80px 0;
}

.news-text h1 {
	color: #fff;
	font-weight: lighter;
	font-size: 30px;
	padding-bottom: 15px;
}

.news-text p {
	color: #777;
	font-size: 16px;
	line-height: 24px;
}

.news-input {
	margin-top: 40px;
}

.news-input form input {
	width: 100%;
	padding: 15px 0;
	text-align: left;
	background-color: #111;
	border: 1px solid #fff;
}

.news-input form button {
	margin-top: 20px;
	padding: 10px 30px;
	background-color: #fff;
	border: none;
}

.news-input form button:hover {
	background-color: #777;
	color: #fff;
	cursor: pointer;
}

footer {
	width: 100%;
	text-align: center;
}

.footer-logo {
	margin: 0 auto;
	width: 80px;
}

.footer-logo a {
	text-decoration: none;
}

.footer-logo a img {
	padding-top: 50px;
}

.social-links {
	width: 240px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 60px;
}

.social-links ul {
	list-style: none;
}

.social-links ul li {
	display: inline-block;
}

.social-links ul li a {
	text-decoration: none;
	color: #000;
}

.social-links ul li a:hover {
	color: #999;
}

.icon {
	padding: 2px 10px;
}

.footer-text, .footer-slogan, .footer-top {
	width: 100%;
}

.footer-copy {
	padding-bottom: 15px;
}

.footer-copy a {
	color: #999;
	text-decoration: none;
}

.footer-copy a:hover {
	color: #000;
}

.footer-slogan {
	padding-bottom: 30px;
	color: #999;
	font-size: 16px;
}

.footer-top {
	padding-bottom: 30px;
}

.footer-top a {
	text-decoration: none;
	color: #999;
	font-size: 30px;
}

.footer-top a:hover {
	color: #000;
}

/*              ABOUT.HTML           */

.header {
	width: 100%;
	/*height: 100vh;*/
	background: #000 url("../img/site-hero2.jpg") no-repeat center center fixed;
	background-size: cover;
}

.header-bottom-bottom {
	width: 100%;
	padding-top: 150px;
	padding-bottom: 200px;
}

.header-bottom-content {
	margin: 0 auto;
	max-width: 700px;
}

.header-bottom-heading {
	max-width: 650px;
	margin: 0 auto;
}

.header-bottom-heading h1 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	font-weight: lighter;
	margin-bottom: 10px;
}

.header-bottom-content p {
	color: #f1f1f1;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	font-weight: normal;
}

.content-inner-text {
	margin: 0 auto;
	max-width: 900px;
}


.content-inner-text h2 {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 35px;
	font-weight: lighter;
	padding-bottom: 20px;
	text-align: center;
}

.benefit {
	text-align: center;
}

.white {
	color: #fff;
}

.newsletter-image {
	padding: 40px 0;
}

.newsletter-image-inner:hover {
	opacity: 0.2;
}

/*              SERVICES.HTML           */
.service-text {
	width: 100%;
	text-align: center;
}

.service-text h2 {
	font-family: 'Playfair Display', serif;
	color: #999;
	font-size: 25px;
	font-weight: lighter;
	margin-bottom: 10px;
	font-style: italic;
	padding-bottom: 50px;
}

.service-text p {
	color: #999;
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;
}

.service-text .btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: #000;
	padding: 10px;
	margin-top: 30px;
}

.service-text .btn:hover {
	background: #999;
}

.service-text img {
	width: 100%;
}

.text-center {
	text-align: center;
}

.pricing {
	width: 100%;
	text-align: center;
	padding-bottom: 100px;
}

.bg-white {
	background: #fff;
}

.price-box {
	width: 100%;
}

.price-box h2 {
	font-size: 16px;
	color: #999;
	font-weight: normal;
	padding: 30px 0;
}

.price-box ul {
	list-style: none;
}

.price-box ul li {
	font-size: 16px;
	color: #111;
	padding-bottom: 20px;
}

.price-box a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: #000;
	padding: 10px 40px;
	margin: 15px 0;
}

.price-box a:hover {
	background: #999;
}

.price h1 {
	font-weight: normal;
	font-size: 50px;
	padding-bottom: 15px;
}

.price h1 span {
	color: #888;
	font-weight: normal;
	font-size: 35px;
	position: relative;
	bottom: 20px;
}

.price p {
	color: #999;
	font-size: 16px;
	padding-bottom: 20px;
}

/*              SINGLE_PROJECT.HTML           */

.picture-slide {
	width: 100%;
	padding-top: 80px;
}

.picture-slide img {
	width: 100%;
}

.text-align-left {
	text-align: left;
}

.list, .social-list {
	list-style: none;
}

.list li {
	padding: 5px 0;
	font-size: 15px;
	color: #999;
	text-align: left;
	letter-spacing: 1px;
}

.list li i {
	padding-right: 5px;
}

.social-list {
	padding-top: 20px;
}

.social-list li {
	display: inline-block;
	float: left;
}

.social-list li a {
	background: #fff;
	color: #999;
	font-size: 20px;
	padding-right: 10px;
}

/*              POSTS_LIST.HTML           */

.blog {
	width: 100%;
}

.blog-picture, .blog-video, .blog-audio {
	width: 100%;
}

.blog-picture {
	margin-top: 70px;
}

.blog-video, .blog-audio {
	margin-top: 50px;
}

.blog-picture img {
	width: 100%;
}

.blog-picture-text h2, 
.blog-video-text h2,
.blog-audio-text h2 {
	font-size: 30px;
	color: #000;
	font-weight: normal;
}

.blog-picture-text ul,
.blog-video-text ul,
.blog-audio-text ul {
	list-style: none;
	padding: 15px 0;
	opacity: 0.5;
}

.blog-picture-text ul li, 
.blog-video-text ul li,
.blog-audio-text ul li {
	display: inline-block;
	font-size: 16px;
	padding-right: 15px;
	color: #999;
}

.blog-picture-text ul li i,
.blog-video-text ul li i,
.blog-audio-text ul li i {
	padding-right: 5px;
	font-size: 12px;
}

.blog-picture-text p,
.blog-video-text p,
.blog-audio-text p {
	font-size: 16px;
	color: #777;
	padding-bottom: 15px;
}

.blog-picture-text a,
.blog-video-text a,
.blog-audio-text a {
	text-decoration: none;
	color: #999;
	font-size: 16px;
}

.pagination {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.pagination ul {
	list-style: none;
}

.pagination ul li {
	display: inline-block;
}

.pagination ul li a {
	text-decoration: none;
	display: inline-block;
	padding: 7px 14px;
	color: #999;
	font-size: 18px;
	border: 1px solid #ddd;
}

.pagination ul li a:hover {
	background: #ddd;
}

.latest-posts {
	width: 100%;
	margin-top: 70px;
}

.latest-posts img {
	width: 100%;
}

.latest-posts img:hover {
	opacity: 0.5; 
}

.latest-posts h2 {
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 20px;
}

.latest-posts h3 {
	font-size: 13px;
	font-weight: normal;
}

.latest-posts h3 a {
	text-decoration: none;
	color: #999;
}

.latest-posts p {
	font-size: 12px;
	color: #999;
}

.categories,
.archive {
	width: 100%;
	margin-top: 50px;
}

.categories h2,
.archive h2 {
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 20px;
}

.categories h3,
.archive h3 {
	font-size: 15px;
	font-weight: normal;
}

.categories h3 a,
.archive h3 a {
	text-decoration: none;
	color: #999;
	
}

.categories p,
.archive p {
	font-size: 15px;
	color: #999;
}

.tags {
	width: 100%;
	margin-top: 50px;
}

.tags h2 {
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 20px;
}

.tag-box {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	background: #ddd;
	transition: all .2s ease-in-out;
}

.tag-box a {
	text-decoration: none;
	color: #999;
	font-size: 12px;
	display: inline-block;
	padding: 8px 15px;
}

.tag-box:hover {
	background: #777;
}

.instagram {
	width: 100%;
	margin-top: 50px;
}

.instagram img {
	width: 100%;
}

.instagram h2 {
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 20px;
}

.instagram a {
	text-decoration: none;
	transition: all .2s ease-in-out;
}

.instagram img:hover {
	opacity: 0.5;
}

/*              SINGLE_POST.HTML           */

.paragraph p {
	font-family: 'Playfair Display', serif;
	padding: 20px;
	background: #eee;
	font-style: italic;
	font-size: 17px;
}

.title-picture-text h3 {
	font-size: 17px;
	color: #000;
	font-weight: normal;
}

.title-picture-text p {
	font-size: 16px;
	color: #777;
	padding-bottom: 15px;
	line-height: 22px;
}